@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Jost:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  max-width: 100%;
  overflow-x: hidden;
  height: fit-content;
}

.blog__heading {
  font-family: 'Jost', sans-serif;
  color: var(--mainBlack);
  margin-top: 100px;
  height: 50px;
}

.blog__container {
  width: 100%;
  height: fit-content;
}
