@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Jost:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  max-width: 100%;
  overflow-x: hidden;
  height: fit-content;
}

main {
  display: grid;
  grid-template-areas:
    'heroSection'
    'latestPost__heading'
    'latestPost__section';
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.heroSection {
  grid-area: heroSection;
  background-image: url(../img/michal-pechardo-1HkVV14d8Bg-unsplash-compressed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 550px;
  display: flex;
  -webkit-box-shadow: 0 0 5px var(--secondaryBlack);
  box-shadow: 0 0 5px var(--secondaryBlack);
}

.heroBtn__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-left: 550px;
}

.heroBtn {
  width: 155px;
  height: 45px;
  font-family: 'Jost', sans-serif;
  font-size: 1.3rem;
  background-color: var(--mainBlack);
  color: var(--white);
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px var(--secondaryBlack);
  box-shadow: 0 0 5px var(--secondaryBlack);
}

.heroBtn:hover {
  background-color: var(--white);
  border: solid 2px var(--secondaryBlack);
  color: var(--mainBlack);
}

.latestPosts__heading {
  grid-area: latestPost__heading;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 80px;
  font-family: 'Jost', sans-serif;
  font-weight: 300;
  font-size: 1.3rem;
}

.latestPost__section {
  grid-area: latestPosts__section;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  background-repeat: no-repeat;
  background-size: cover;
  width: 25%;
  border: solid 2px black;
  border-radius: 10px;
  height: 250px;
  margin: 20px;
  box-shadow: 2px 2px lightgray;
  display: flex;
  -webkit-box-shadow: 0 0 5px var(--secondaryBlack);
  box-shadow: 0 0 5px var(--secondaryBlack);
}

.cardImg {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.titleBackground {
  width: 100%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
}

.cardTitle {
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
}

.blogLink {
  text-decoration: none;
}
